.side-bar {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 32px;
  transform: translateY(-50%);

  img {
    width: 32px;
    height: 32px;
    margin-top: 36px;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }
  }
}
