$w: 360px;

.collections-list-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 144px;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    box-sizing: border-box;
    border: 2px solid $main-color;
    border-radius: 16px;
    box-shadow: 4px 4px 30px 8px rgb(234 66 60 / 8%);
  }

  .image {
    height: 100%;

    img {
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 8px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px - 100px);
    height: 100%;
    margin-left: 28px;

    .title {
      margin-top: -10px;
      overflow: hidden;
      font-family: 'Quiet Sans', sans-serif;
      font-size: 32px;
      font-weight: 800;
      font-feature-settings: 'pnum' on, 'lnum' on;
      text-overflow: ellipsis;
      letter-spacing: 0.02em;
      word-break: break-all;
      white-space: nowrap;
    }

    .option-group {
      .option {
        display: flex;
        align-items: center;
        min-height: 25px;
        font-size: 20px;
        letter-spacing: 0.02em;

        &:first-child {
          margin-top: 0;
        }

        .key {
          font-weight: 400;
          color: $main-font-color;
          white-space: nowrap;
        }

        .val {
          margin-left: 9px;
          overflow: hidden;
          font-weight: 700;
          color: #ea423c;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        img {
          width: 10px;
          height: auto;
          margin-left: 8px;
        }
      }
    }
  }
}
