.wear-wrap {
  box-sizing: content-box;
  width: 1280px;
  padding: 10px 96px 0;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.tab {
  span {
    display: inline-block;
    width: 124px;
    height: 35px;
    margin-right: 40px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #4d4d4d;
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    border: 2px solid #4d4d4d;
    border-radius: 32px;
    transition: all 0.3s ease;

    &:hover {
      @include tag-hover(2px);
    }

    &:active {
      @include tag-active(2px);
    }
  }

  .active {
    color: #fcf5c5;
    background-color: #a32015;
    border: 2px solid $main-color;
  }
}
