.base-nfts-details-layout {
  width: 1280px;
  margin: auto;

  & > .title {
    display: flex;
    align-items: center;
    font-family: 'Quiet Sans', serif;
    font-size: 32px;
    font-weight: 800;

    & > img {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }

  & > .mian-area {
    display: flex;
    margin-top: 32px;

    & > .left {
      & > .image {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 320px;
        overflow: hidden;
        border: 2px solid $main-color;
        border-radius: 10px;

        & > img {
          max-width: calc(100% + 4px);
          max-height: calc(100% + 4px);
        }
      }

      & > .props-name {
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 0.02em;
      }

      & > .props {
        & > .props-item {
          // box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 40px;
          padding: auto 27px;
          margin-top: 18px;
          font-size: 18px;
          border: 1.6px solid $main-color;
          border-radius: 32px;

          &:first-child {
            margin-top: 8px;
          }

          & > span {
            margin: auto 27px;
          }
        }
      }
    }

    & > .right {
      width: 100%;
      margin-left: 31px;
    }
  }
}
