.campaign-wrap {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.text {
  font-family: 'Quiet Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
  margin-right: 55px;
}
.tab-bar {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    margin-right: 17px;
  }

  .tab {
    height: 20px;
    line-height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    color: #4d4d4d;
    span {
      margin-right: 82px;
    }
    .active {
      color: #a32015;
    }
  }
}
.list-wrap {
  width: 100%;
  margin-top: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .campaign-item {
    width: 260px;
    height: 300px;
    margin: 0 43px 37px 0;
    cursor: pointer;
    img {
      width: 260px;
      height: 255px;
      border: 2px solid #000;
      border-radius: 10px;
      box-sizing: border-box;
    }
    .name {
      margin-top: 16px;
      height: 24px;
      font-family: 'Quiet Sans';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
    }
  }
}
.empty {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 60px;
  height: 60px;
  margin: 150px auto;
  font-size: 40px;
}
