.sponsor-show {
  .title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.02em;

    img {
      width: 32px;
      height: auto;
      margin-right: 24px;
    }
  }

  .sponsor-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: calc(160px - 96px);
    padding-left: 70px;
    margin-top: 32px;
    margin-bottom: 80px;

    & .filter {
      filter: brightness(5%);
    }

    img {
      width: auto;
      height: 50px;
    }
  }
}
