.list-wrap {
  width: 1320px;
  margin: 0 auto;
}

.campaign-title {
  display: flex;
  margin-bottom: 30px;
}

.campaign-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-image: url(../../assets/icons/campaigns-title.png);
  background-size: contain;
}

.campaign-text {
  height: 32px;
  margin-right: 16px;
  font-family: 'Quiet Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
}

.create-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 249px;
  height: 36px;
  padding: 9px 27px;
  cursor: pointer;
  border: 2px solid #a32015;
  border-radius: 32px;

  span {
    display: inline-block;
    height: 18px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  em {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icons/Chat-add.png);
    background-size: contain;
  }
}

.campaign-list {
  padding: 20px 10px;
}

.loading {
  width: 50px;
  margin: 100px auto;
}

.campaign-item {
  position: relative;
  width: 1248px;
  height: 320px;
  margin: 0 auto 60px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 32px;
  box-shadow: 2px 2px 20px 10px rgb(163 32 21 / 8%);
  transition: all 0.3s ease;

  &:hover {
    background-size: 107% 107%;
  }

  // img {
  //   width: 1280px;
  //   height: 200px;
  //   border-radius: 32px 32px 0 0;
  // }
  .campaign-name {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 600px;
    height: 32px;
    overflow: hidden;
    font-family: 'Quiet Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    font-feature-settings: 'pnum' on, 'lnum' on;
    line-height: 32px;
    color: #fff;
    text-overflow: ellipsis;
    letter-spacing: 0.01em;
    white-space: nowrap;
  }

  .edit {
    position: absolute;
    right: 30px;
    bottom: -26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 56px;
    line-height: 56px;
    cursor: pointer;
    background: #a32015;
    border-radius: 32px;

    span {
      margin: 0 12px 0 0;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
      color: #fcf5c5;
      text-align: center;
      text-transform: uppercase;
    }

    .icon-edit {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/icons/Edit.png);
    }
  }

  .r240 {
    right: 240px;
  }
}
