.create-nfr {
  box-sizing: border-box;
  width: 1440px;
  padding: 0 96px;
  margin: auto;

  .title {
    & > img {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }

    display: flex;
    align-items: center;
    font-family: 'Quiet Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    color: #000;
    letter-spacing: 0.02em;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 155px;
    margin-top: 40px;

    .left {
      .layer {
        margin-top: 48px;

        &.one {
          display: grid;
          grid-template-columns: 160px 160px;
          column-gap: 54px;
        }

        &.bottom {
          display: grid;
          row-gap: 40px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 48px;

      .btn-group {
        display: flex;
        margin-top: 129px;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 188px;
          height: 56px;
          font-size: 20px;
          font-weight: 700;
          color: $vice-color;
          cursor: pointer;
          background-color: $main-color;
          border-radius: 32px;

          &.vice {
            margin-right: 15px;
            color: $main-color;
            background-color: #fff;
            border: 2px solid $main-color;
            border-radius: 32px;
            box-shadow: 0 4px 6px rgb(163 32 21 / 12%);
          }

          & > img {
            width: 24px;
            height: 24px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
