.purchasing-box {
  position: relative;
  box-sizing: border-box;
  width: 640px;
  height: 341px + 10px;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 2px 2px 20px 10px rgb(163 32 21 / 8%);

  & > .close {
    display: flex;
    flex-direction: row-reverse;

    img {
      width: 16px;
      height: 16px;
      margin-top: 18px;
      margin-right: 29px;
      cursor: pointer;
    }
  }

  & > .purchasing-box-main-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;

    .title {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      color: #1f263b;
      text-transform: uppercase;
    }

    .image-text {
      display: flex;
      width: 100%;
      margin-top: 24px;

      & > .image {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 212px;
        height: 212px;
        overflow: hidden;
        background-color: #d9d9d9;
        border-radius: 16px;
      }

      & > .text {
        width: 364px;
        margin-left: 16px;

        .name {
          margin-bottom: 8px;
          overflow: hidden;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 36px;
          color: #1f263b;
          text-overflow: ellipsis;
          text-transform: uppercase;
          white-space: nowrap;
        }

        .nfr-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 4px;

          .key {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            color: rgb(31 38 59 / 60%);
          }

          .val {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            color: #1f263b;

            &.red {
              color: $main-color;
            }

            input {
              width: 100%;
              min-width: 100px;
              font-family: Roboto, serif;
              font-weight: 500;
              line-height: 20px;
              color: $main-font-color;
              text-align: right;
              border: none;
              outline-style: none;

              &::-webkit-inner-spin-button {
                appearance: none;
              }

              &::-webkit-outer-spin-button {
                appearance: none;
              }

              &::placeholder {
                color: rgb(77 77 77 / 60%);
              }
            }
          }
        }

        .tip {
          margin-top: 8px;
          font-size: 14px;
          font-style: 500;
          font-weight: 400;
          line-height: 20px;
          color: #797d89;
        }
      }
    }
  }

  & > .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: auto;
    margin-top: 30px;

    & .label {
      font-size: 20px;
      font-weight: 500;
      color: #000;
    }

    & .input {
      width: 200px;
    }
  }

  & > .btn {
    position: absolute;
    right: 47px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    color: $vice-color;
    cursor: pointer;
    background-color: $main-color;
    border-radius: 32px;
    transform: translateY(50%);

    & > img {
      margin-left: 8px;
    }
  }
}
