@mixin icon-style($url) {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-left: 20px;
  mask: url($url);
}

.drop-down-box {
  position: absolute;
  top: calc(100% + 2px);
  z-index: 2;
  width: 230px;
  background-color: #fff;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 12px 36px rgb(204 204 204 / 30%);

  .item {
    display: flex;
    align-items: center;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    color: $main-font-color;
    cursor: pointer;

    &.disable {
      opacity: 0.4;
    }

    &:hover {
      @include link-hover;

      .icon-profile,
      .icon-exit {
        background-color: #f1b540;
      }
    }

    &:active {
      @include link-active;

      .icon-profile,
      .icon-exit {
        background-color: $main-color;
      }
    }

    .icon-profile {
      @include icon-style('@/assets/icons/profile.svg');

      background-color: $main-font-color;
    }

    .icon-exit {
      @include icon-style('@/assets/icons/exit.svg');

      background-color: $main-font-color;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      margin-left: 20px;
    }
  }
}
