.page {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  .size-select {
    display: inline-block;
    width: 70px;
    line-height: 27px;
    font-weight: 400;
    color: #000;
    text-align: center;
  }
  .page-block {
    display: inline-block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
  }
  .page-text {
    margin: 0 7px;
    // border: 1px solid #a32015;
    background-color: #fff;
  }
  .ellipsis {
    background: none;
    margin: 0;
  }
  .current {
    background-color: #a32015;
    color: #fcf5c5;
  }
}
